Repository ConorMFinn/CO600-SeriousCyberSec, pull requests merged in 2020-10, with the labels that each got.

#8 Create PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, high priority

#5 Create Basic Admin Documentation
  docs/admin/GitHubUsage.md
  docs/admin/Meetings.md
  docs/admin/XXXX-XX-XX_MeetingMinutes
Labels: documentation

#9 Add meeting minutes for 2020-10-01
  docs/meetings/2020-10-01_MeetingMinutes.md
Labels: meetings

#10 Create project management documentation
  .gitignore
  docs/admin/ProjectManagementDocumentation.md
Labels: documentation

#11 Add meeting minutes for 2020-10-08
  docs/meetings/2020-10-08_MeetingMinutes.md
Labels: meetings
